:root {
  --blue: #25B9BE;
  --white: #FFF;
  --grey: #6D6D6D;
  --red: #F00;
  --black: #464646;
  --green: #7DB44D;
  --light-grey: #C5C5C5;
  --off-white: #FAFAFA;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1350px;
  margin: auto;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 auto;
  font-family: sans-serif;
  color: var(--black);
}

h1 {
  font-weight: 900;
  font-size: 40px;
}

h3 {
  font-weight: 500;
  font-size: 30px;
}

p {
  font-size: 20px;
  font-weight: 100;
  color: var(--grey);
}

h5 {
  font-weight: 900;
  font-size: 20px;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  background-color: var(--blue);
  color: var(--white);
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}
